{% extends 'interpreter/main.html' %}

{% block content %}

 <article>
        <div style="max-width: 1200px; margin: auto; padding: 10px;">
            <div class="container-fluid" style="background-color: white;">
                <h1 class="text-center">Welcome to Text Extractor!</h1>
                <p></p>This is a project developed by Michael Miller. The purpose of it is to parse through a text file such as a movie script.
                Extract the most common names found in the file. And display them in a graphical format so you can see who is mentioned the most in the file the most.
                Hope you enjoy!</p>
                <p>Hope you enjoy Thanks!</p>
            </div>
    </article>

{% endblock %}

